.form__header {
    margin-left: 10px;
    border-bottom: 1px solid rgb(116, 113, 113);
}


.form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 30px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.form__input {
    border: 1px solid rgb(116, 113, 113);;
    padding: 10px;
    border-radius: 5px;
}

.form__button {
    border: none;
    background-color: rgb(179, 146, 152);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.form__button:hover {
    background-color: rgb(179, 146, 182);
}

.form__button:active {
    background-color: rgb(161, 102, 120);
}